body{
    margin: 0%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left:47%;
    border: 2px solid;
    width: 300px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    text-align: center;
}
.user{
    text-align: center;
}
.psw{
    text-align: center;
}
button{
    width: 100px;
    border-radius: 2px;
    background-color: rgb(241, 245, 245);
}
.remember-forget p{
    font-size: 12px;

}