* {
    margin: 0;
    padding: 0;

}

#backgroundimg {
    width: 100%;
    position: absolute;
    height: 100vh;

}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.SignUpForm {
    height: auto;
    width: 400px;
    padding: 50px;
    background: #ffff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#SignUpP {
    margin-top: 10px;
    margin-bottom: 40px;
}


.input {
    margin: 15px;
    margin-left: 0%;

}

#email,
#password2,
#password1 {
    padding: 10px;
    width: 100%;

}

.checkbox {
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 0.9rem;
}

.checkbox input {
    margin-right: 10px;
}

.btn {
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    background-color: rgb(214, 31, 31);
    color: white;


}

#signUpLogo {
    margin-right: 20px;
}

#signUpOr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    color: grey;

}

.signUpBtn {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.google-btn,
.facebook-btn,
.apple-btn {
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.google-btn {
    background: #DB4437;
}

.facebook-btn {
    background: #1877F2;
}

.apple-btn {
    background: #000000;
}